#appid #todolistid {
   text-align: center;
}
#createid {
    
    margin-bottom: 30px;
 }
 #listitemid{
    margin-bottom: 30px;  
 }
 #tableid{
    margin-bottom: 20px; 
 }
 #createtodoid{
     margin-bottom: 10px
 }
 table{

        width: auto;
        margin-left: auto;
        margin-right: auto;
   

 }
 #dpid{
     margin-top:20px;
 }
 
